*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url("/bmstu_lab/static/img/back.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

img {
    border: 2px solid #3545f8;
    height: 150px;
    width: 150px;
}

ul {
    text-align: center;  
}

input {
    padding: 5px;
    border-radius: 5px;
}
  
.order-text {
    font-size: 40px;
}

.block {
    border: 10px solid #025f8a;
    margin: 30px;
    padding: 10px;
    display: inline-block;
    text-align: center;
}

.block_text {
    font-size: 16px;
}

.block_search {
    margin: 10px;
}

.block_button {
    display: inline-block;
    background: #025f8a;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 14px;
    line-height: 1;
    font-weight: 100;
    cursor: pointer;
}

.search_button {
    cursor: pointer;
}