{% extends 'base.html' %}

{% block title %}Доступное время{% endblock %}

{% block content %}
<div class="block_search">
    <h2>Поиск по дате:</h2><br>
    <form action="/search" method="get" enctype="multipart/form-data">
        <input name="query" type="text" placeholder="ДД.ММ.ГГГГ">
        <input type="submit" class="search_button" value="Поиск" >
    </form>
</div>
<ul>
    {% for order in data %}
       {% include 'appointment_el.html' with element=order %}
    {% empty %}
        <h1>На выбранную дату записи нет!</h1>
    {% endfor %}
</ul>
{% endblock %}